<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professores da FATEC Sorocaba</title>
</head>
<body>
    <li>
        <ul>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam corporis, non omnis earum cumque impedit molestias pariatur doloremque, quis at harum eum delectus. Delectus ipsum aspernatur blanditiis magni nulla rerum?</ul>
        <ul>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam corporis, non omnis earum cumque impedit molestias pariatur doloremque, quis at harum eum delectus. Delectus ipsum aspernatur blanditiis magni nulla rerum?</ul>
    </li>
</body>
</html>