#janela-fechada {
    background-image: url("../img/janelafechada.png");
    width: 200px;
    height: 200px;
    cursor: pointer;
}
#janela-aberta {
    background-image: url("../img/janelaaberta.png");
    width: 200px;
    height: 200px;
    display: none;
}
#janela-quebrada {
    background-image: url("../img/janelaquebra.png");
    width: 200px;
    height: 200px;
    display: none;
}