<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia da FATEC Sorocaba</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste accusantium beatae sed incidunt exercitationem enim nobis error tempora autem alias corrupti voluptatum mollitia itaque architecto maxime hic, accusamus, aperiam non?</p>
</body>
</html>